@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
	font-family: 'Poppins', sans-serif;
	text-shadow: 0 2px 5px #2228;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

li {
	padding: 0;
}

